.err {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 5;
  align-items: center;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(51, 24, 107, 0.7);
}

.err_container {
  width: 40%;
  /* height: 30%; */
  align-self: center;
  /* position: absolute; */
  /* top: 15%; */
  margin: auto;

  display: inline-flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  border-radius: 0.5rem;
  background: rgba(115, 96, 223, 0.8);

  z-index: 10;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Josefin Slab;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: stretch;
}

.error {
  align-self: stretch;

  color: #fff;
  text-align: center;
  font-family: Josefin Slab;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;

  flex: 1 0 0;
}
