* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Parisienne", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/bg-wallpaper.jpeg") top right no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 768px) {
  body {
    background: url("./assets/bg-wallpaper-phone.jpg") top right no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
